# 빌드 결과물
dist/
.output/

# 종속성
node_modules/

# 로그
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 환경 변수
.env
.env.*
!.env.example

# 맥OS 시스템 파일
.DS_Store

# 임시 파일들
.tmp/
.cache/
.astro/

# IDE 설정
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 노트 파일
*.note
notes/
